body{

    background: #d1d5db;
    margin: auto
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

#navbar-brand {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 3px;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

h1 {
    color: white;
  }

  p {
    color: white;
  }

  body {
    background-color: #003a5d;
  }

  #check-boxes{
    display:block;
    color: white;
    margin-top: 3%;
  }

  #search_term{
    margin-left: 5%;
  }

  #company_name{
    margin-left: 5%;
  }



.img-dynamic {
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 50%;

}

#main-content{
    display:flex;
 
}

#FDA-links{
    display: flex;
    flex-direction: column;
    margin-right: 1%;
}


#McguireWoods{
    display: flex;
    margin-left: 1%;
}

#links{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
