{% extends "base.html" %}
{% block title %} Inspection TimeLine {% endblock %}
{% block content %}


<div class="container">                      
    <div class="row text-center justify-content-center mb-5">
        <div class="col-xl-6 col-lg-8">
            <h2 class="font-weight-bold">{{company_name}} Inspection Timeline </h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                {% for cfr_data in data %}
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title={{cfr_data[3][0]}}>
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">{{cfr_data[3][0]}}</p>
                        <p class="h6 text-muted mb-0 mb-lg-0">Inspection ID: {{cfr_data[0]}}</p>
                        {% for url in cfr_data[2] %}
                            <a href = {{url}}>{{cfr_data[1][loop.index0]}}</a>
                        {% endfor %}
                   {% endfor %}
                    </div>
                </div>
                    
    </div>
</div>
</div>
</div>
{% endblock %}