{% extends "base.html" %}
{% block stylesheet %} 
<link rel="stylesheet" href="/static/search.css"> 
{% endblock %}
{% block title %} McGuire Woods FDA Tool{% endblock %}
{% block content %}

<body>
<style>
  a:link, a:visited
      {
      color:white;
      }
      a:hover
      {
      color:pink;
      text-decoration: underline;

      }

</style>
<div id="links">
  <a id="McguireWoods" href="https://www.mcguirewoods.com/">McGuireWoods</a>
  <div id="FDA-links"> 
  <a href="https://datadashboard.fda.gov/ora/cd/inspections.htm">FDA Inspection Database</a>
  <a href="https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/compliance-actions-and-activities/warning-letters">FDA Warning Letters</a>
</div>
</div>
<div id = "navbar-brand">

<header id = "header">
 
</header>
</div>
  
  <div>
    <p>
    </p>
  </div>

  
  <div id = "main-content"> 
  <div class="container">
    <div class = "row justify-content-center" >
    <h1 class = " display-1 text-bold text-center "> FDAnalyzer </h1>
    </div>
            <div class="row height d-flex justify-content-center align-items-center">
              <div class="col-md-6">
                <div class="form">
                  <i class="fa fa-search"></i>
                  <form action = '#' method = "post" id = "search_bar">
                  <input type="text" class="form-control form-input" placeholder="Search anything..." name = "search_term" >
                  <input type="hidden" name="checkbox_clicked" id="checkbox_clicked">
                  </form>
                  <form id="check-boxes">
                  <input type="checkbox" id="search_term" name="Search Term" value="Search Term" onclick="setCheckboxValue('search_term')" >
                  <label for="search_term">Search Term</label>
                  <input type="checkbox" id="company_name" name="Company Name" value="Company Name" onclick="setCheckboxValue('company_name')" >
                  <label for="company_name">Company Name</label>
                </form>
                 

                </div> 
              </div>
            </div>
          </div>
        </div>
      </body>
{% endblock %}
{% block script %}
<script>
  function setCheckboxValue(checkbox_id) {
    const checkbox = document.getElementById(checkbox_id);
    const checkbox_value = checkbox.value;
    document.getElementById('checkbox_clicked').value = checkbox_value;
    document.getElementById('search_bar').submit();
  }

  window.addEventListener('load', function() {
    const checkbox = document.getElementById('search_term');
    const checkboxValue = localStorage.getItem('checkboxValue');
    if (checkboxValue === 'checked') {
      checkbox.checked = true;
    } else {
      checkbox.checked = false;
    }
  });

  // Uncheck the checkbox and remove the value from local storage
  function uncheckCheckboxValue(checkbox_id){
    const checkbox = document.getElementById(checkbox_id);
    checkbox.checked = false;
    document.getElementById('checkbox_clicked').value = checkbox_value;
  }

</script>
{% endblock %}
