{% extends "base.html" %}
{% block title %} McGuire Woods FDA Tool{% endblock %}
{% block content %}
  <div class="container">
            <div class="row height d-flex justify-content-center align-items-center">
              <div class="col-md-6">
                <div class="form">
                  <i class="fa fa-search"></i>
                  <form action = "#" method = "post">
                    <input type="text" class="form-control form-input" placeholder="Search anything..." name = "search_term" >
                    <span class="left-pan"><i class="fa fa-microphone"></i></span>
                  </form>
                </div> 
              </div>
            </div>
          </div>
{% endblock %}

