<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/styles.css">
    <script lang="text/javascript" src="/static/grab_search_term.js" defer></script>
    <title>McGuire Woods FDA Tool </title>
  </head>
  <body>
    <h1>Welcome! </h1> 
    <div class="rest0">
      <input type="text" id="search_term" placeholder="Please Enter a CFR Code to Search">
      <button onclick="downloadFile(event)">Search</button>
      <!-- <a href="javascript:"><i onclick="goNext(0)" class="arrow right"></i></a> -->
    </div>

  </body>


</html>
