{% extends "base.html" %}
{% block title %} Inspection ID Information {% endblock %}
{% block content %}
<!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h3> Program Area </h3>
                <!-- {% for area in data[4] %} -->
                <p >{{data}}</p>
                <!-- {% endfor %} -->
                <h3>Short Description</h3>
                <!-- {% for long_desc in data[7] %} -->
                <p >{{data}}</p>
                <!-- {% endfor %} -->
                <h3>Long Description</h3>
                <!-- {% for short_desc in data[6] %} -->
                <p >{{data}}</p>
                <!-- {% endfor %} -->
                
            </div>
        </div>
{% endblock %}
    
