{% extends "base.html" %}
{% block title %} Inspection ID Information {% endblock %}
{% block content %}
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href= "/company/{{data[2][0]}}"> {{data[2][0]}} </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Search</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h3> Program ass </h3>
                {% for area in data[5] %}
                <p class="lead">{{area}}</p>
                {% endfor %}
                <h3>Short Description</h3>
                {% for long_desc in data[5] %}
                <p class="lead">{{long_desc}}</p>
                {% endfor %}
                <h3>Long Description</h3>
                {% for short_desc in data[5] %}
                <p class="lead">{{short_desc}}</p>
                {% endfor %}
                
            </div>
        </div>
{% endblock %}
    

