{% extends "base.html" %} {% block stylesheet %}
<link rel="stylesheet" href="/static/timeline.css" />
{% endblock %} {% block title %} Warning Letter Stats TimeLine {% endblock %} {%
block content %}
<div class = "container-fluid"> 
    <button type="submit" class="btn btn-primary btn-sm" name="Home" onclick="goBack()">
        <a style="color:white; text-decoration: underline;" href = 'http://127.0.0.1:5000/'> Home </a>
    </button>
<h1 class = "display-1 text-center"> {{search_term|capitalize}} Statistics </h1>
<div class="card-deck">
<div class="card" >
    <h3 class= "card-header"> Warning Letters Issued by Year</h3>
    <canvas class="card-img-top" id="warning_timeline"> </canvas>
    <div class="card-body text-center">
      <form action="#" method = "post">
        <button type = "submit" class="btn btn-primary"> Warning Letters</a>
      </form>
    </div>
</div>

  <div class="card ">
    <h3 class="card-header"> Inspections Per Year</h3>
    <canvas class="card-img-top" id="inspection_timeline"> </canvas>
  </div>
</div>

<div class="card-deck">
  <div class="card ">
    <h3 class="card-header">Distribution of CFR Codes</h3>
    <canvas class="card-img-top" id="warning_cfr"> </canvas>
    <div class="card-body text-center d-flex align-items-center"></div>
  </div>

  <div class="card">
    <h3 class="card-header">Distribution of USC Codes</h3>
    <canvas class="card-img-top" id="warning_usc"> </canvas>
    <div class="card-body text-center d-flex align-items-center"></div>
  </div>

  <div class="card">
    <h3 class="card-header">FDA Enforcement Actions</h3>
    <canvas class="card-img-top" id="pie_chart"> </canvas>
    <div class="card-body text-center d-flex align-items-center"></div>
  </div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var ctx = document.getElementById('warning_timeline').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: {{warning_data[2][0] | tojson }},
          datasets: [{
              label: '# Warning Letters',
              data: {{warning_data[2][1]}},
              fill: false,
              borderColor: 'rgb(255, 99, 132)',
              tension: 0.1
          }]
      },
      options: {
        
      }
  });
</script>
<script>
  var ctx = document.getElementById('inspection_timeline').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: {{inspection_data[0][0] | tojson }},
          datasets: [{
              label: '# Inspection Letters',
              data: {{inspection_data[0][1]}},
              fill: false,
              borderColor: 'rgb(255, 99, 132)',
              tension: 0.1
          }]
      },
      options: {}
  });
</script>
<script>
  var ctx = document.getElementById('warning_cfr').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: {{warning_data[0][0] | tojson }},
          datasets: [{
              label: 'Count',
              data: {{warning_data[0][1]}},
              fill: false,
              borderColor: 'rgb(255, 99, 132)',
              tension: 0.1
          }]
      },
      options: {}
  });
</script>
<script>
  var ctx = document.getElementById('warning_usc').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: {{warning_data[1][0] | tojson }},
          datasets: [{
              label: 'Count',
              data: {{warning_data[1][1]}},
              fill: false,
              borderColor: 'rgb(255, 99, 132)',
              tension: 0.1
          }]
      },
      options: {}
  });
</script>
<script>
  var ctx = document.getElementById('pie_chart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: {{percent_data[0] | tojson }},
          datasets: [{
              label: 'Percent',
              data: {{percent_data[1]}}
          }]
      },
      options: {}
  });
</script>

{% endblock %}
