
{% extends "base.html" %}
{% block stylesheet %} 
<link rel = "stylesheet" href = "/static/timeline.css"> 
{% endblock %}
{% block title %} Inspection TimeLine {% endblock %}
{% block content %}
<body>
<style>
    a:link, a:visited{
        color: #003a5d; 
    }
    a:hover{
        color:rgb(255, 0, 179);
    }
</style>
<div class="container-fluid">
    <button type="submit" class="btn btn-primary btn-sm" name="Home" onclick="goBack()">
        <a style="color:white; text-decoration: underline;" href = 'http://127.0.0.1:5000/'> Home </a>
    </button>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-5">{{company_name}} Inspection Timeline</h4>

                <div class="hori-timeline" dir="ltr">
                    <ul class="list-inline events">
                        {% for cfr_data in data %}
                        <li class="list-inline-item event-list">
                            <div class="px-4">
                                <h5 class="font-size-16">Date: <span id="timestamp-{{loop.index0}}">{{cfr_data[3][0]}}</span></h5>
                                <h5 class="font-size-16">Inspection ID: {{cfr_data[0]}}</h5>
                                <p class="text-muted">
                                {% for url in cfr_data[2] %}
                                <ul>
                                 <li> <a href = {{url}}>{{cfr_data[4][loop.index0]}}</a><br/> </li>
                                </ul>
                                {% endfor %}
                                </p>
                                <div>
                                    <form action = "#" method = "post">
                                        <button type="submit" class="btn btn-primary btn-sm" name="read_more">
                                            Read More
                                            <input type="hidden" name="inspection_id" value="{{ cfr_data[0] }}" />
                                          </button>
                                    </form>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- end card -->
    </div>
</div>
</body>

{% for cfr_data in data %}
<script>
    // Get the timestamp element by id
    var timestampElem = document.getElementById("timestamp-{{loop.index0}}");
    
    // Convert the timestamp to a nice looking date

    var timestamp = timestampElem.innerText; // Get the timestamp value
    var formattedTimestamp = timestamp.replace(" ", "T") + "Z"; // Convert the timestamp to ISO 8601 format
    var date = new Date(formattedTimestamp);
    var formattedDate = date.toLocaleDateString(); // Format the date as a string
    
    // Set the innerHTML of the timestamp element to the formatted date
    timestampElem.innerHTML = formattedDate;


  function goBack() {
	window.history.go(-1);
	console.log('We are in previous page');
    // location.reload(true)
    }

</script>
{% endfor %}

{% endblock %}